node_modules/
build/
.nyc_output/
coverage/
.env
views/layouts
views/add-product.hbs
views/add-product.pug
views/add-product.html
views/shop.hbs
views/shop.pug
views/shop.html
views/404.html
views/404.hbs
views/404.pug

